section.about{
  height: auto;
  width: 700px;
  margin: 0 auto;
  .bodyLine {
    margin-bottom: 60px;
  }
  .italic {
    font-style: italic;
  }
  .bioBody {
    margin-top: 55px;
  }
  a.bio {
    font-weight: bold;
    letter-spacing: 0.5px;
    display: inline;
    font-family: $bodyFont;
    color: $darkColor;
    text-transform: none;
    transition: 0.3s;
    border: none;
    &:hover,
    &:active {
      color: $accentColor;
    }
  }
}