section.about{
  height: auto;
  width: 700px;
  margin: 0 auto;
  .italic {
    font-style: italic;
  }
  .bioBody {
    margin-top: 55px;
  }
  a.bio {
    font-weight: bold;
    letter-spacing: revert;
    display: inline;
    font-family: $bodyFont;
    color: $darkColor;
    text-transform: none;
    transition: 0.3s;
    text-decoration: underline;
    &:hover,
    &:active {
      color: $accentColor;
    }
  }
  .bioNames {
    font-weight: bold;
  }
}