.personalBio {
	header {
		background-color: $darkColor;
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		position: fixed;
		.bioNav {
			height: 78px;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				text-align: center;
				margin: 0;
				color: $lightColor;
				font-family: $headerFont;
				font-size: 22px;
				letter-spacing: 1.5px;
				a {
					color: $lightColor;
					transition: 0.3s;
					&:hover {
						color: $accentColor;
					}
				}
			}
		}
	}
	.mainBio {
		min-height: 100vh;
		height: auto;
		margin-bottom: 100px;
	}
}
