section.events{
  height: 100%;
  width: 700px;
  margin: 0 auto;
  .eventText {
    display: flex;
    justify-content: center;
    img {
      width: 350px;
      height: auto;
    }
  }
  p {
    text-align: center;
  }
  p.music {
    font-style: italic;
    padding: 30px;
  }
  p.concertInfo {
    font-weight: bold;
  }
  ul {
    margin-top: 40px;
    list-style: none;
  }
  button { 
    background-color: $darkColor;
    border: none;
    margin-top: 65px;
    a {
      background-color: $darkColor;
      padding: 13px 40px;
      font-size: 22px;
      letter-spacing: 3px;
      font-family: $headerFont;
      color: $lightColor;
      text-transform: uppercase;
      transition: 0.3s;
      border: 0px;
      text-align: center;
      cursor: pointer;
      &:hover,
      &:focus {
        background-color: $darkColor;
        color: $accentColor;
      }
    }
  }
  .buttonParent {
    display: flex;
    justify-content: center;
  }
}

