@media(max-width: 860px) {
  .headerTextParent {
    padding-bottom: 0;
  }
  section.about,
  section.events {
    width: 90%;
  }
  .formParent {
    flex-direction: column;
  }
  .half {
    margin-top: 40px;
  }
  section.contact .formParent {
    margin-top: 15px;
  }
  section.contact form {
    width: 90%;
    padding-top: 0;
  }
  section.contact .submit {
    margin: 50px auto 50px auto;
  }
  section.events button {
    margin: 50px auto 0px auto;
  }
  .personalBio {
    header {
      .wrapper.bioNav {
        height: 42px;
      }
    }
  }
  .hamburger-menu {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding-left: 17px;
      padding-right: 17px;
      width: 100%;
      height: 100vh;
      justify-content: center;
    }
  }
  .navVisible {
    visibility: visible;
    left: 0;
  }
  nav {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 42px;
    left: 100vw;
    transition: 0.3s;
  }
  nav ul li a:hover::after, 
  nav ul li a.active::after,
  nav ul li a:active::after,
  nav ul li a:focus::after {
    width: 0;
    display: none;
  }
  nav ul li a.active {
    color: $accentColor;
  }
  nav ul li {
    border-bottom: 1px solid $lightColor;
  }
}

@media(max-width: 500px) {
  .headerTextParent {
    padding-bottom: 80px;
    .headerText img {
      width: 250px;
    }
  }
  section.events .eventText img {
    width: 250px;
  }
}