@media(max-width: 1160px) {
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 975px) {
  .formParent {
    flex-direction: column;
  }
  .half {
      margin-top: 40px;
  }
  section.contact form {
    width: 70%;
  }
  section.contact {
    form {
      padding-top: 0;
    }
  }
}

@media(max-width: 860px) {
  .headerTextParent {
    padding-bottom: 60px;
    .headerText h1 {
      .the {
        font-size: 245px;
      }
      .happen {
        font-size: 101.3px;
        padding-left: 20.4px;
      }
      .stancers {
        font-size: 62px;
        padding-left: 20.4px;
        letter-spacing: 6.3px;
      }
    }
  }
  section.about {
    width: 90vw;
  }
  section.contact .buttonParent {
    margin-bottom: 30px;
  }
  section.contact .formParent {
    margin-top: 15px;
  }
  section.contact form {
    width: 90%;
  }
  .hamburger-menu {
    display: block;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0px;
      padding-left: 17px;
      padding-right: 17px;
      width: 100%;
      height: 100vh;
      justify-content: center;
    }
  }
  .navVisible {
    visibility: visible;
    left: 0;
  }
  nav {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 42px;
    left: 100vw;
    transition: 0.3s;
  }
  nav ul li a:hover::after, 
  nav ul li a.active::after,
  nav ul li a:active::after,
  nav ul li a:focus::after {
    width: 0;
    display: none;
  }
  nav ul li a.active {
    color: $accentColor;
  }
  nav ul li {
    border-bottom: 1px solid $lightColor;
  }
}

@media(max-width: 610px) {
  section.contact form {
    width: 90%;
  }
}

@media(max-width: 430px) {
  .fa.fa-bars {
    width: 40px;
    top: 5px;
    right: 5px;
  }
  .topBar {
    height: 43px;
  }
  section.contact form {
    width: 100%;
  }
}

@media (max-width: 375px) {
  header i.fas {
    font-size: 50px;
  }
}

@media(max-width: 350px) {
  header i.fas {
    font-size: 45px;
  }
}