@font-face {
  font-family: 'Right Grotesk Narrow Light';
  src: url("../Fonts/RightGrotesk-NarrowLight.otf");
}

@font-face {
  font-family: 'Right Grotesk Tight Black';
  src: url("../Fonts/RightGrotesk-TightBlack.otf");
}

@font-face {
  font-family: 'Pier Sans Light';
  src: url("../Fonts/PierSans-Light.otf");
}

@font-face {
  font-family: 'Pangram Regular';
  src: url("../Fonts/Pangram-Regular.otf");
}

@font-face {
  font-family: 'Radio Grotesk Regular';
  src: url("../Fonts/RadioGrotesk-Regular.otf");
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: black;
  text-align: center;
  font-family: "Right Grotesk Tight Black";
  font-size: 70px;
  letter-spacing: 4px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: "Radio Grotesk Regular";
  color: black;
  font-size: 19px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bodyLine {
  border-top: 3px solid #f22202;
  width: 70px;
  border-radius: 20px;
  margin: 0 auto;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  background-color: black;
}

.headerTextParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 145px;
}

.headerTextParent .headerText img {
  width: 350px;
  height: auto;
}

a {
  text-decoration: none;
  border: 2px solid transparent;
  color: white;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  padding-bottom: 3px;
  display: block;
  letter-spacing: 3px;
  text-transform: uppercase;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 78px;
}

nav ul li {
  font-family: "Right Grotesk Tight Black";
  color: white;
  margin: 25px 30px 25px 30px;
  font-size: 22px;
  letter-spacing: 1.5px;
  position: relative;
}

nav ul li a:focus {
  outline: thin dotted;
}

nav ul li a:active,
nav ul li a:hover {
  outline: 0;
}

nav ul li a:hover::after,
nav ul li a.active::after,
nav ul li a:active::after {
  content: '';
  width: calc(100% - 7px);
  display: block;
  height: 2px;
  background-color: #f22202;
  position: absolute;
  bottom: 2px;
}

header ul.top {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: black;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1000;
  white-space: no-wrap;
}

header ul.bottom {
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1000;
  list-style: none;
}

header ul.bottom a {
  color: white;
}

header i.fas {
  color: black;
  font-size: 55px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

.chev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide {
  -webkit-animation: slide 3s infinite;
  animation: slide 3s infinite;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(0, -15px);
    transform: translate(0, -15px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    opacity: 0;
  }
}

.hamburger-menu {
  display: none;
}

.hamburger-menu:focus, .hamburger-menu:hover {
  outline: thin dotted white;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 20000;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:focus {
  outline: thin dotted white;
}

.hamburger:active, .hamburger:hover {
  outline: none;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #f22202;
}

.hamburger-box {
  width: 40px;
  height: 42px;
  display: inline-block;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-box:focus {
  outline: thin grey dotted;
}

.hamburger-box:active, .hamburger-box:hover {
  outline: none;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: #f22202;
  border-radius: 20px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: 32px;
  left: 10px;
  z-index: 100000;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

section.about {
  height: auto;
  width: 700px;
  margin: 0 auto;
}

section.about .bodyLine {
  margin-bottom: 60px;
}

section.about .italic {
  font-style: italic;
}

section.about a.bio {
  font-weight: bold;
  letter-spacing: 1px;
  display: inline;
  font-family: "Radio Grotesk Regular";
  color: black;
  text-transform: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section.about a.bio:hover {
  color: #f22202;
}

section.events {
  height: 100vh;
}

section.events .bodyLine {
  margin-bottom: 100px;
}

section.work {
  height: 100vh;
}

section.work .bodyLine {
  margin-bottom: 100px;
}

section.contact {
  height: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact form {
  width: 55%;
  margin: 0 auto;
  padding-top: 10px;
}

section.contact .formParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 37px;
  margin-top: 55px;
}

section.contact textarea {
  -webkit-appearance: none;
  border-radius: 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  font-family: "Radio Grotesk Regular";
  letter-spacing: 1px;
  font-size: 16px;
  color: black;
  border-radius: 0px;
  background-color: transparent;
  -webkit-box-shadow: 0 2px 0 0 transparent;
          box-shadow: 0 2px 0 0 transparent;
}

section.contact textarea::-webkit-input-placeholder {
  color: black;
  padding: 0;
  margin: 0;
}

section.contact textarea:-ms-input-placeholder {
  color: black;
  padding: 0;
  margin: 0;
}

section.contact textarea::-ms-input-placeholder {
  color: black;
  padding: 0;
  margin: 0;
}

section.contact textarea::placeholder {
  color: black;
  padding: 0;
  margin: 0;
}

section.contact textarea:focus {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 2px 0 0 black;
          box-shadow: 0 2px 0 0 black;
}

section.contact textarea:focus:focus + label {
  color: black;
}

section.contact .submit {
  margin: 50px auto 50px auto;
  background-color: black;
  padding: 13px 40px;
  border-radius: 20px;
  font-family: "Right Grotesk Tight Black";
  font-size: 18px;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  text-align: center;
  cursor: pointer;
}

section.contact .submit:hover, section.contact .submit:focus {
  background-color: black;
  color: #f22202;
}

section.contact .half input[type="text"],
section.contact .half input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 2px 0 0 transparent;
          box-shadow: 0 2px 0 0 transparent;
  width: 100%;
  height: 30px;
  font-family: "Radio Grotesk Regular";
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: black;
  -webkit-appearance: none;
  border-radius: 0px;
  background-color: transparent;
}

section.contact .half input[type="text"]:focus,
section.contact .half input[type="email"]:focus {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 2px 0 0 black;
          box-shadow: 0 2px 0 0 black;
}

section.contact .half input[type="text"]:focus:focus + label,
section.contact .half input[type="email"]:focus:focus + label {
  color: black;
}

section.contact .formParent .half {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

section.contact input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
  padding: 0;
  margin: 0;
}

section.contact input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
  padding: 0;
  margin: 0;
}

section.contact input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
  padding: 0;
  margin: 0;
}

section.contact input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: black;
  padding: 0;
  margin: 0;
}

section.contact .buttonParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

footer {
  background-color: black;
  width: 100%;
}

footer p {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 1160px) {
  section.contact form {
    width: 90%;
  }
}

@media (max-width: 975px) {
  .formParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .half {
    margin-top: 40px;
  }
  section.contact form {
    width: 70%;
  }
  section.contact form {
    padding-top: 0;
  }
}

@media (max-width: 860px) {
  .headerTextParent {
    padding-bottom: 60px;
  }
  section.about {
    width: 90vw;
  }
  section.contact .buttonParent {
    margin-bottom: 30px;
  }
  section.contact .formParent {
    margin-top: 15px;
  }
  section.contact form {
    width: 90%;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding-left: 17px;
    padding-right: 17px;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navVisible {
    visibility: visible;
    left: 0;
  }
  nav {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 42px;
    left: 100vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav ul li a:hover::after,
  nav ul li a.active::after,
  nav ul li a:active::after,
  nav ul li a:focus::after {
    width: 0;
    display: none;
  }
  nav ul li a.active {
    color: #f22202;
  }
  nav ul li {
    border-bottom: 1px solid white;
  }
}

@media (max-width: 610px) {
  section.contact form {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .headerTextParent .headerText img {
    width: 250px;
  }
}

@media (max-width: 430px) {
  .fa.fa-bars {
    width: 40px;
    top: 5px;
    right: 5px;
  }
  .topBar {
    height: 43px;
  }
  section.contact form {
    width: 100%;
  }
}

@media (max-width: 375px) {
  header i.fas {
    font-size: 50px;
  }
}

@media (max-width: 350px) {
  header i.fas {
    font-size: 45px;
  }
}
/*# sourceMappingURL=main.css.map */