@font-face {
  font-family: 'Right Grotesk Tight Black';
  src: url('../Fonts/RightGrotesk-TightBlack.otf')
}

@font-face {
  font-family: 'Pangram Regular';
  src: url('../Fonts/Pangram-Regular.otf')
}

@import 'variables';
@import 'setup';
@import 'global';
@import 'header';
@import 'nav';
@import 'about';
@import 'events';
@import 'work';
@import 'contact';
@import 'footer';
@import 'media';
@import 'bio'
